#container{
    background-color: lightcoral;
    height: 50px;
    width: 200px;   
    position: fixed;
    right: 20px;
    bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: height 1s;
}


#container:hover{
    height: 200px;
}



#container img{
    height: 150px;
    width: 200px;
}

#container p{
    font-size: 20px;
    text-align: center;
}

p{
    font-size: 30px;
}

#container2 {
    background-color: lightgreen;
    height: 50px;
    width: 200px;
    position: fixed;
    right: 120px;
    bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: height 1s;
}


#container2:hover {
    height: 200px;
}



#container2 img {
    height: 150px;
    width: 200px;
}

#container2 p {
    font-size: 20px;
    text-align: center;
    
}
